<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension id="application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="rcpapp2.Application"/>
    </application>
  </extension>
  <extension point="org.eclipse.ui.perspectives">
    <perspective
      name="RCP Perspective"
      class="rcpapp2.Perspective"
      id="rcpapp2.perspective">
    </perspective>
  </extension>  
</plugin>
