<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension point="org.eclipse.ui.intro">
    <intro id="IdeAppWithIntro.intro" class="org.eclipse.ui.intro.config.CustomizableIntroPart"/>
    <introProductBinding introId="IdeAppWithIntro.intro" productId="IdeAppWithIntro.product"/>
  </extension>
  <extension point="org.eclipse.ui.intro.config">
    <config id="IdeAppWithIntro.introConfigId" introId="IdeAppWithIntro.intro" content="$nl$/intro/introContent.xml">
      <presentation home-page-id="homePageId" standby-page-id="homePageId">
        <implementation kind="html" os="win32,linux,macosx"/>
      </presentation>
    </config>
  </extension>
</plugin>
